.station-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 340px;

  img {
    border-radius: 50%;
    width: 120px;
    position: absolute;
    top: 65%;
    right: 47%;
  }
  .station-name {
    font-size: 90px;
    width: 1500px;
    margin-bottom: 15px;
  }
  .station-descr {
    align-self: flex-start;
    padding-left: 300px;
  }
}
